.menu-item {
    display: inline-block;
    margin-right: 36px;
    margin-left: 36px;
    margin-top: 26px;
    margin-bottom: 26px;
}

.menu-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}

.menu {
    display: inline-block;
}

.header-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 49px;
    margin-bottom: 38px;
    margin-right: 68px;
    margin-left: 68px;

}

.main-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
    margin-right: 68px;
    margin-left: 68px;
}

.btn {
    background: #FF0000;
    border-radius: 4px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 38px;
    padding: 18px 42px;
}

.footer-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 82px;
    margin-bottom: 29px;
    margin-right: 105px;
}

.header-img {
    width: 100%;
}

.header {
    text-align: center;
}

.main {
    text-align: center;
}

.footer {
    text-align: right;
}
